@model IEnumerable<MVCStoreApplication.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des albums</h2>
<ul id="album-list">
    @foreach (var album in Model)
    {
        <li>
            <a href="@Url.Action("Details", new { id = album.AlbumId })">
                <img alt="pochette" src="~/Content/Images/@album.AlbumArtUrl" width="60" height="60" />
                <span>@album.Title (@album.Artist.Name)</span>
            </a>
            <a href="@Url.Action("AddToCart", "Carts", new { id = album.AlbumId })">
                <i class="fa fa-cart-arrow-down fa-lg"></i>
            </a>
        </li>
    }
</ul>
