@model IEnumerable<MVCStoreApplication.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul id="album-list">
    @foreach (var album in Model)
    {
        <li>
            <a href="@Url.Action("Details", new { id = album.AlbumId })">
                <img alt="pochette" src="/Files/@album.AlbumArtUrl" width="25" height="25" />
                <span>@album.Title (@album.Artist.Name)</span>
            </a>
            <a href="@Url.Action("AddToCart", "Carts", new { id = album.AlbumId })">
                <img alt="Ajouter au panier" src="~/Content/Images/ajouter.png" width="25" height="25" />
            </a>
        </li>
    }
</ul>
